@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");

body {
  font-family: "Lugrasimo", sans-serif;
  text-align: center;
  width: 300px;
  padding: 10px;
}

.container {
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
}

.light-mode {
  background-color: #ffffff;
  color: #333;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.control-dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f57;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #28c840;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-img {
  width: 50px;
  height: 50px;
}

.screenshot-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.screenshot-img {
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.download-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.download-link:hover {
  text-decoration: underline;
}
